.App {
    background-color: rgb(211, 208, 208);
}
.balance-display {
    display: inline-flex;
    background-color: grey;
    padding: 20px;
    margin: 10px;
}
.from-token {
    display: inline-flex;
    background-color: grey;
    padding: 20px;
    margin: 10px;
}